# Bu faylni .env nomi bilan nusxa oling va to'ldiring
DEBUG=False
SECRET_KEY=replace-with-a-long-random-string
ALLOWED_HOSTS=127.0.0.1,localhost,.onrender.com
# DATABASE_URL=postgres://user:pass@host:5432/dbname
